<%= link_to_remote("jouer", {:url =>  new_party_path(:date => date)}, :class => "right play" ) %>
<span class="mday"><%= !parties ?  date.day : link_to(date.day, party_path(parties.values.first)) %></span>
<% if parties %>
	<ul>
		<% parties.first(4).each do |game, p| %>
      <%= render :partial => "calendar_party", :locals => {:game => game, :parties => p} %>
		<% end %>
		<%= content_tag(:li, link_to("#{parties.size - 4} more", "", :class => "more")) if parties.size > 4 %>
	</ul>
	<% if parties.size > 4 %>
		<div class="extended" style="display : none;">
		    <ul>
		      <% parties.last(parties.size - 4).each do |game, p| %>
            <%= render :partial => "calendar_party", :locals => {:game => game, :parties => p} %>
          <% end %> 
		    </ul>     
		</div>		
	<% end %>
<% end %>
