<ul id="top-by-years" class="clear horizontal">
  <% ((Time.now.year - 3)..(Time.now.year)).each do |year| %>
    <li class="<%= "active" if @year.to_s == year.to_s %>">
      <%= link_to_remote year, :url => most_played_parties_path(:year => year), :method => :get %>&nbsp;|
    </li>
  <% end %>
  <li class="<%= "active" unless @year %>">
    <%= link_to_remote "Toutes", :url => most_played_parties_path(), :method => :get %>
  </li>
</ul>
<% if @most_played.size > 0 %>
	<table class="stripe">
    <tbody>
		<% @most_played.each do |game, count| %>
			<tr>
				<td class="span-1"><%= image_tag(game.box.url(:thumb), :class => "mini") %></td>
				<td>
				  <strong class="empty right">x <%= count %></strong>
				  <%= link_to game.name, game_path(game), :class => "empty" %>
				</td>
			</tr>
		<% end %>
	  </tbody>
  </table>
<% else %>
<p class="empty">Vous n'avez jouez/saisie aucune parties actuellement</p>
<% end%>