<ul id="years" class="clear">
  <% ((Time.now.year - 3)..(Time.now.year)).each do |year| %>
    <li class="tabs flat <%= "active" if @year.to_s == year.to_s %>">
      <%= link_to_remote year, :url => most_played_parties_path(:year => year), :method => :get %>
    </li>
  <% end %>
  <li class="tabs flat <%= "active" unless @year %>">
    <%= link_to_remote "Toutes", :url => most_played_parties_path(), :method => :get %>
  </li>
</ul>
<% if @most_played.size > 0 %>
	<ul class="strip">
		<% @most_played.each do |game, count| %>
			<li>
				<div class="right round"><%= count %></div>
				<%= image_tag(game.box.url(:thumb), :class => "mini") %>
				<%= link_to game.name, game_path(game) %>
			</li>
		<% end %>
	</ul>
<% else %>
<p class="empty">Vous n'avez jouez/saisie encore aucune parties actuellement</p>
<% end%>