<tr class="autohide" id="<%= dom_id(party_full) %>">
  <td><%= game_box_for party_full.game %></td>
  <td>
    <span class="right"><%= party_full.players.size %> / <%= pluralize(party_full.game.max_player, "joueur", "joueurs") %></span>
    <strong><%= party_full.game.name %></strong>
    <div class="players more">
      <% if party_full.players.size > 0 %>
        <%= party_full.members.map(&:display_name) * ", " %>
      <% else %>
        <%= link_to "Ajoutez les joueurs", new_party_player_path(party_full) %>
      <% end %>
    </div>
  </td>
  <td><div class="function">
  <%= link_to "", edit_party_player_path(party_full),  :class => "ss_sprite ss_pencil"  %>&nbsp;|&nbsp;
  <%= link_to_remote "", {:url => party_path(party_full), :method => :delete},  :class => "ss_sprite ss_bin"  %>
  
  </div></td>
</tr>