<h3>Vos parties par jeu</h3>

<% if @parties.size > 0 %>
  <div class="pagination clear">
    <span><%= link_to "Tous", all_parties_path %></span>
      <% ("A".."Z").each do |letter| %>
        <%= link_for_first_letter letter, :all_parties_path %>
      <% end %>
  </div>

  <table class="sortable">
    <thead>
      <tr>
        <th class="span-13">Jeu</th>
        <th class="span-4 align-right last nosort"><strong>x</strong><em>(derniere partie)</em></th>
      </tr>
    </thead>
    <tbody>
      <% @parties.each do |game| %>
        <%= render(:partial => "party", :locals => {:game => game[0], :parties => game[1]}) %>
      <% end %>
    </tbody>
  </table>

  <div class="page-nav">
    <%= will_paginate @parties %>
	</div>
<% else %>
  <p class="empty"> Vous n'avez encore saisie aucune partie.</p>
<% end %>


<% content_for :newsbox do %>
  <div id="placeholder-2">
    <%= render_widget "Repartition de vos parties", :sprite => "ss_pie_chart" do %>
      <%= @chart.image_tag %>
    <% end %>
  </div>

  <div id="placeholder-3">

    <%= render_widget "Vos derniers parties", :sprite => "ss_tower", :partial => "last" %>
  </div>
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>
