<h3>Mes Jeux > <%= @game.name %></h3>


<div class="column span-17 last">
  <div class="column span-12">
    <p>
      Vous avez jouez <%= pluralize(@parties.size, "partie", "parties") %>
      depuis le <%= @parties.first.created_at.to_date.to_s(:date_fr) %>.
       
      Votre derniere parties date du <%= @parties.last.created_at.to_date.to_s(:date_fr) %> 
    </p>
  </div>
  <div class="column span-5 last">
    Repartition par anne&eacute:
    <ul>
      <%  @yearly.each do |year, parties| %>
        <li><%= year %> : <%= parties.size %></li>
      <% end %>
    </ul>
  </div>
  
  <div id="breakdown-play" class="column span-17 last">
    <span id="game_id" style="display: none"><%= @game.id %></span>
  </div>
</div>


