<h3>Vos parties de <%=t('date.month_names')[@date.month].humanize %>  <%= @date.year %></h3>


<%= month_calendar start_date: @date, thead: custom_thead, header: -> {}, table: { class: "calendar" }, td: { class: "mday" } do |date| %>
  <% if date.month == @date.month %>
    <%= render "calendar_cell", parties: @days[date.mday], date: date %>
  <% end %>
<% end %>


<% content_for :newsbox do %>
    <div id="placeholder-3">
      <%= render_widget "Les jeux du mois", :sprite => "ss_tower", :partial => 'discovered' %>
    </div>
<% end %>
