<h3>Vos parties du <%= l @date, :format => :long_ordinal %> </h3>

<% if @played.size > 0 %>

<% @played.each do |game, plays| %>

  <div class="column span-8 game">
    <% unless @played_before.include?(game) %>
      <strong class="right ss_coffee ss_sprite red">new</strong>
    <% end %>
    <h4><%= game.name %></h4> 
    <div class="column span-3">
  	  <%= image_tag(game.box.url(:normal), :class => "") %>
    </div>
    <div class="column span-5 last">
      <ul>
        <% plays.each do |p| %>
          <li><%= pluralize(p.plays, "partie", "parties") %> @ <%= pluralize(p.players, "joueur", "joueurs") %>  </li>
        <% end %>
      </ul>
    </div>
    
  </div>


<% end %>


<% else %>
  <p class="empty">
    Vous n'avez enregistrez aucune partie pour cette date
  </p>

<% end %>

<div class="column pagination span-17 last">
  <%= @previous ? link_to("Precedentes", show_parties_path(@previous.to_date)) : "<span class='disabled'>Precedentes</span>" %>&nbsp;|&nbsp;
  <%= link_to "Retour sur le calendrier", parties_resume_path([@date.month, @date.year]) %>&nbsp;|&nbsp;
  <%= @next ? link_to("Suivantes", show_parties_path(@next.to_date)) : "<span class='disabled'>Suivantes</span>" %>
</div>



<% content_for :newsbox do %>
  <% render_widget "Mes parties en bref" do %>

  <% end %>
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>