<h3>Vos parties du <%= l @date, :format => :long_ordinal %> </h3>

<% if @parties.size > 0 %>

<table class="sortable">
  <thead>
    <tr>
      <th class="span-1 nosort"></th>
      <th class="span-14 nosort">Description</th>
      <th class="span-2 nosort center">Gerer</th>
      <th class="span-2 last nosort"><span class="ss_sprite ss_users">Joueurs</span></th>
      
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "party_full", :collection => @parties %>
  </tbody>
</table>

<% else %>
  <p class="empty">
    Vous n'avez enregistrez aucune partie pour cette date
  </p>

<% end %>

<div class="pagination">
  <%= @previous ? link_to("Precedentes", show_parties_path(@previous.to_date)) : "<span class='disabled'>Precedentes</span>" %>&nbsp;|&nbsp;
  <%= link_to "Retour sur le calendrier", parties_resume_path([@date.month, @date.year]) %>&nbsp;|&nbsp;
  <%= @next ? link_to("Suivantes", show_parties_path(@next.to_date)) : "<span class='disabled'>Suivantes</span>" %>
</div>



<% content_for :newsbox do %>
  <% render_widget "Etaient present" do %>
    <% if @members.size > 0 %>
      <ul class="strip">
        <% @members.each do |member| %>
          <li><%= member.display_name %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="empty">Vous n'avez pas encore saisies les joueurs sur les parties du <%= l @date, :format => :long_ordinal %></p>
    <% end %>
  <% end  %>
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>