<h3>Vos parties du <%= @date.to_s(:date_fr) %> </h3>


<table class="sortable">
  <thead>
    <tr>
      <th class="span-1 nosort"></th>
      <th class="span-14 nosort">Description</th>
      <th class="span-2 nosort"><span class="ss_sprite ss_group">Joueurs</span></th>
      <th class="span-2 last nosort center">Gerer</th>
      
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "party_full", :collection => @parties %>
  </tbody>
</table>

<div class="pagination">
  <%= @previous ? link_to("Precedentes", party_path(@previous)) : "<span class='disabled'>Precedentes</span>" %>&nbsp;|&nbsp;
  <%= link_to "Retour sur le calendrier", parties_resume_path([@date.month, @date.year]) %>&nbsp;|&nbsp;
  <%= @next ? link_to("Suivantes", party_path(@next)) : "<span class='disabled'>Suivantes</span>" %>
</div>



<% content_for :newsbox do %>
  <% render_widget "Etaient present" do %>
    <% if @members.size > 0 %>
      <ul class="strip">
        <% @members.each do |member| %>
          <li><%= member.display_name %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="empty">Vous n'avez pas encore saisies les joueurs sur les parties du <%= @date.to_s(:date_fr) %></p>
    <% end %>
  <% end  %>
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>