<tr class="autohide" id="<%= dom_id(edition) %>">
  <td><span class=" right <%= css_for_lang(edition.lang) %>"></span></td>
  <td><%= link_to edition.name.blank? ? edition.game.name.humanize : edition.name.humanize , game_path(edition.game) %></td>
  <td><%= link_to edition.editor.name, edition.editor %></td>
  <td><%= edition.published_at ? edition.published_at.to_s(:month) : "NA" %></td>
  <td></td>
  <% if logged_in? %>
    <td><div class="function">
      <%= link_to "", edit_game_edition_path(edition.game, edition), :class => "ss_sprite ss_pencil" %>&nbsp;|&nbsp;
      <%= link_to_remote "", {:url => edition_path(edition), :method => :delete},  :class => "ss_sprite ss_trash"  %>
    </div></td>
  <% end %>
</tr>