<li class="autohide" id="<%= dom_id(list) %>">
  <div class="count right"><%= list.published_at.year %></div>
  <% if logged_in? %>
    <div class="function right">
      <%= link_to "", edit_game_edition_path(@game, list), :class => "ss_sprite ss_pencil" %>&nbsp;|&nbsp;
      <%= link_to_remote "", {:url => game_edition_path(@game, list), :method => :delete},  :class => "ss_sprite ss_bin"  %>
    </div>
  <% end %>
  <%= flag_for_lang(list.lang.to_i, :size => "20x20") %>
  <%= link_to list.editor.name, editor_path(list.editor) %> - <span class="meta"><%= list.name.blank? ? @game.name : list.name   %></span>
</li>
