<li class="autohide">
  <% if logged_in? %>
    <div class="function right">
      <%= link_to "", edit_game_edition_path(@game, list), :class => "ss_sprite ss_pencil" %>&nbsp;|&nbsp;
      <%= link_to_remote "", {:url => game_edition_path(@game, list), :method => :delete},  :class => "ss_sprite ss_bin"  %>
    </div>
  <% end %>
  <%= flag_for_lang(list.lang.to_i) %> - 
  <%= list.editor.name %> - 
  <%= "#{month_name(list.published_at.month)} #{list.published_at.year}" %>
</li>
