<% content_for:head do %>
	<title>Les editeurs</title>
<% end %>

<h3>
  <% if @game %>
    Les &eacute;ditions de <%= @game.name %> 
  <% else %>
    Gestion des &eacute;ditions
  <% end %>  
</h3>


<table class="sortable">
  <thead>
    <tr>
      <th class="span-1">Lang</th>
      <th class="span-9 nosort">Jeux</th>
      <th class="span-3">Editeur</th>
      <th class"span-2">Sortie le</th>
      <th class="span-<%= logged_in? ? "2" : "4" %> nosort"></th>
      <% if logged_in? %>
        <th class="span-2 nosort">Gerer</th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <%= render :partial => @editions %>
  </tbody>
</table>

<div class="page-nav">
  <%= will_paginate @editions %>
</div>

<% content_for :newsbox do %>
  <% render_widget "Les dernieres editions", :sprite => "ss_tower" do %>
    <ul class="strip">
      <% @last.each do |edition| %>
        <li>
          <span class=" right <%= css_for_lang(edition.lang) %>"></span>
          <b><%= link_to edition.name.blank? ? edition.game.name : edition.name, edit_game_edition_path(edition.game, edition) %></b>
           chez <span class="empty"><%= edition.editor.name %></span></li>
      <% end %>
    </ul>
  <% end  if @last %>
  
  <% render_widget "Adminsitration", :sprite => "ss_tower", :layout => "layouts/game_widget", :locals => {:game => @game} do %>
      <li><%= link_to "Ajouter",  new_game_edition_path(@game), :class => "ss_sprite ss_add" %></li>
      <hr />
      <li><%= link_to "Revenir sur #{@game.name}", game_path(@game), :class => "ss_sprite ss_left" %></li>
  <% end if @game %>
<% end %>
