<h3>Ajoutez un/des auteur a <%= @game.name %></h3>


<%= error_messages_for :authorship %>

<% form_for(:authorships, :url => game_authorships_path(@game), :method => :put, :html => {:id => "authorship_form"}) do |form| %>
  <div id="authorships">
    <% @authorships.each_with_index do |a, index| %>
      <%= render :partial => form, :locals => {:index => index + 1, :authorship => a} %>
    <% end %>
  </div>
  <%= submit_or_back_to game_path(@game), "Retour sur #{@game.name}" %>
<% end %>




<% content_for :newsbox do %>
  <% render_widget "Adminsitration", :sprite => "ss_tower", :layout => "layouts/game_widget", :locals => {:game => @game} do %>
          <li><%= link_to "Supprimer des autheurs", game_authorships_path(@game), :class => "ss_sprite ss_trash" %></li>
          <li><%= link_to "Ajouter des autheurs", new_game_authorship_path(@game), :class => "ss_sprite ss_add" %></li>
          <hr /></hr>
          <li><%= link_to "Retour sur #{@game.name}", game_path(@game), :class => "ss_sprite ss_document" %></li>
  <% end %>
<% end %>