<h3>Ajoutez un/des auteur a <%= @game.name %></h3>

<%= form_for(@game, html: { id: "authorship_form" }) do |form| %>
  <div id="authorships">
    <%= form.fields_for :authors do |fa| %>
      <%= div_for fa.object do %>
        <%= fa.label "Auteur" %>
        <span class="tips">(Sous la forme "prenom-nom")</span><br />
        <%= fa.text_field :display_name, class: "author_display_name text" %>
        <%= fa.hidden_field :id %>
      <% end %>
    <% end %>
  </div>
  <%= submit_or_back_to game_path(@game), "Retour sur #{@game.name}" %>
<% end %>




<% content_for :newsbox do %>
  <%= render_widget "Adminsitration", :sprite => "ss_tower", :layout => "layouts/game_widget", :locals => {:game => @game} do %>
          <li><%= link_to "Supprimer des autheurs", game_authorships_path(@game), :class => "ss_sprite ss_trash" %></li>
          <li><%= link_to "Ajouter des autheurs", new_game_authorship_path(@game), :class => "ss_sprite ss_add" %></li>
          <hr /></hr>
          <li><%= link_to "Retour sur #{@game.name}", game_path(@game), :class => "ss_sprite ss_document" %></li>
  <% end %>
<% end %>
