<tr class="autohide" id="<%= dom_id(author) %>">
  <td><%= link_to "#{author.surname} - #{author.name}", author_path(author) %></td>
  <td></td>
  
  <% if logged_in? %>
    <td><div class="function">
      <%= link_to "", edit_author_path(author), :class => "ss_sprite ss_pencil" %>&nbsp;|&nbsp;
      <%= link_to_remote "", {:url => author_path(author), :method => :delete},  :class => "ss_sprite ss_trash"  %>
    </div></td>
  <% end %>
  <td class="center"><div class="round"><%= author.authorships.size %></div></td>
</tr>