<tr class="autohide" id="<%= dom_id(author) %>">
  <td><%= link_to "#{author.name} - #{author.surname}", author_path(author) %></td>
  <td></td>
  <td><%= author.authorships.size %></td>
  <% if logged_in? %>
    <td><div class="function">
      <%= link_to "", edit_author_path(author), :class => "ss_sprite ss_database_edit" %>&nbsp;|&nbsp;
      <%= link_to_remote "", {:url => author_path(author), :method => :delete},  :class => "ss_sprite ss_database_delete"  %>
    </div></td>
  <% end %>
</tr>