<tr>
  <td><%= image_tag(game.box.url(:thumb), :class => "mini") %></td>
  <td><%= link_to game.name, game_path(game) %></td>
  <td><%= game.target_str %></td>
  <td></td>
  <td><%= game.editions.size > 0 &&  game.editions.first.published_at ? game.editions.first.published_at.year : "----" %></td>
  <% if logged_in? %>
    <td>
      <% if account_have_game?(game) %>
        <%= link_to_remote "Supprimez", :url => {:controller => "account_games", 
        										:action => 'destroy', :game_id => game.id}, :method => :delete, :html => {:class => "ss_sprite ss_x"} %>
      <% else %>
        <%= link_to_remote "Ajoutez", 	:url =>account_games_path(:account_game => {:game_id => game.id}),
        				            :method => :post, :html => {:class => "ss_sprite ss_briefcase"}  %>
      <% end %>
    </td>
  <% end %>
</tr>
