<h3>Mes Jeux > <%= @game.name %></h3>


<div class="column span-17 last">
  <% if @parties.size > 0  %>
  
  <div class="column span-12">
    <p>
      Vous avez jouez <%= pluralize(@parties.size, "partie", "parties") %>
      depuis le <%= l @parties.first.created_at.to_date %>.
       
      Votre derniere parties date du <%= l @parties.last.created_at.to_date %> 
    </p>
  </div>
  <div class="column span-5 last">
    Repartition par anne&eacute:
  </div>
  
  <%= @chart.image_tag %>
  <% else %>
    <p class="empty">Vous navez encore jamais joue&eacute; a <%= @game.name %></p>
  <% end %>
</div>
