<h3>Votre ludotheque</h3>

<div id="account_games_list">
  <%= render_games @account_games, :mode => :overview, :id => "account_games_table" %>
</div>

<%= will_paginate @account_game %>


<% content_for :newsbox do %>
  <% render_widget "Repartition de vos jeux" do %>
    <div id="piechart" style="width: 200px; height:200px; left:40px;">
      
    </div>
    <div id="chart-legend"></div>
  <% end %>
  <%= render :partial => "smart_lists/widget" %>
  
  <% render_widget "Vous pouvez aussi..." do %>
    <%= image_tag("edit_add.png", :size => "20x20") %>&nbsp;<%= link_to "Ajouter un jeu dans votre ludotheque", new_account_game_path %><br />
    <%= image_tag("agt_update_misc.png", :size => "20x20") %>&nbsp;<%=  link_to "Exporter cette liste", formatted_account_games_path(:format => :csv)  %>
    <span class="tips"> en csv(compatible excel)</span>
  <% end %>
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>