<h3>
  Vos jeux de A a Z
  <span class="right small"><%= link_to "Modifier", account_games_path(:mode => @mode == :view ? :edit : :view) %></span>
</h3>

<% if @account_games.size > 0 %>

<div class="pagination clear">
  <span><%= link_to "Tous", account_games_path %></span>
    <% ("A".."Z").each do |letter| %>
      <%= link_for_first_letter letter, :account_games_path %>
    <% end %>
</div>


<div id="account_games_list">
  <table class="sortable">
    <thead>
      <tr>
        <% if @mode == :edit %>
          <th class="span-1">Gestion</th>
        <% end %>
        <th class="span-<%= @mode == :edit ? 7 : 8 %> nosort">Jeux</th>
        <th class="span-1 nosort"></th>
        <th class="span-4 nosort">Public</th>
        <th class="span-4 nosort">Derniere partie</th>
        <th class="span-1 align-right account_game nosort last pad"><strong>Nb</strong></th>
      </tr>
    </thead>
    <tbody>
      <%= render @order_account_games %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <ul class="horizontal clear right">
            <li><span class="ss_sprite ss_folder"></span>
              Total : <span class="empty"><%= pluralize(@all, "jeu", "jeux") %></span>
              <% unless @exts_count.blank?  %>
                dont : <span class="empty"><%= pluralize(@exts_count, "extension", "extensions") %></span>
              <% end %>
            </li>
            <li><%= link_to("Recent : #{@recent}", all_account_games_path(:search => {:mode => "recent"}), :class => "ss_sprite ss_coffee") %></li>
            <li><%= link_to "Non jouée : #{@no_played}", all_account_games_path(:search => {:mode => "not_played"}), :class => "ss_sprite ss_warning" %></li>
          </ul>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<%= will_paginate @accout_games %>

<% else %>
  <p class="empty">Vous ne possedez encore aucun jeux.</p>
<% end %>


<% content_for :newsbox do %>

  <%= render_widget "Repartition de vos jeux", :sprite => "ss_pie_chart" do %>
    <%= @chart.image_tag %>
  <% end %>

  <%= render_widget "Mes jeux en bref" do %>
    <div class="block">
      <h4>Par niveaux</h4>
      <ul>
        <% Game::Target.each do |target| %>
          <li><%= link_to target[0], account_games_path(:target => target[1]) %></li>
        <% end %>
      </ul>
    </div>
    <div class="block">
      <h4>Par dur&egrave;e</h4>
      <ul>
        <% Game::TimeCategory.each do |time| %>
          <li><%= link_to time[0], account_games_path(:time => time[1]) %></li>
        <% end %>
    </ul>
    </div>

  <% end %>


<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>
