<h3>Vos jeux de A a Z</h3>

<div class="pagination clear">
  <span><%= link_to "Tous", account_games_path %></span>
    <% ("A".."Z").each do |letter| %>
      <%= link_for_first_letter letter, :account_games_path %>
    <% end %>
</div>

<div id="account_games_list">
  <%= render_games @account_games, :mode => :overview, :id => "account_games_table" %>
</div>

<%= will_paginate @accout_games %>



<% content_for :newsbox do %>
  <% render_widget "Vous pouvez aussi..." do %>
    <ul>
      <li><%= link_to "Ajouter un jeu dans votre ludotheque", new_account_game_path, :class => "ss_page_white_add ss_sprite" %></li>
      <li><%= link_to "Exporter cette liste", formatted_account_games_path(:format => :csv), :class => "ss_page_white_put ss_sprite"  %>
      <span class="tips"> en csv(compatible excel)</span></li>
      <li><%= link_to "Importer vos jeux directement", importer_account_games_path, :class => "ss_sprite ss_page_white_get" %></li>
    </ul>
  
    
    
  <% end %>
  
  <% render_widget "Repartition de vos jeux" do %>
    <div id="ac_games_piechart" style="width: 200px; height:200px; left:40px;">
      
    </div>
    <div id="chart-legend"></div>
    <ul>
      <li><span class="ss_sprite ss_folder">Total : <span class="empty"><%= @all %></span></li>
      <li><span class="ss_sprite ss_new"></span>Recement ajout&eacute : <span class="empty"><%= @recent %></span></li>
      <li><span class="ss_sprite ss_exclamation">Non jou&eacute : <span class="empty"><%= @no_played %></span></li>
    </ul>
  <% end %>
  

<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>