<h3>Ajoutez des jeux a ma ludotheque</h3>

<% form_for(:account_games, :url => account_games_path, :method => :post, :html => {:id => "account_game_form"}) do |form| %>
  <%= label_tag :account_game_game_name, "Nom du jeu" %><span class="ss_sprite ss_help">(1)</span>
  <% @new_games.each_with_index do |ac, index| %>
    <% fields_for ac, :index => index do |f|  %>
      <fieldset>
        <p>
        <%= text_field_tag "account_game_#{index}_game_name", "", :size => 50,  :class => "title game_autocomplete" %>
        <%= f.date_select :transdate %></p>
        <div id="account_game_<%= index %>_game_name_lookup" class="auto_complete"></div>
        <%= f.hidden_field :edition_id %>
        <%= f.hidden_field :game_id, :class => "game_id" %>
      </fieldset>
    <% end %>
  <% end %>

  <%= submit_or_back_to games_path, "Retour sur la liste des jeux" %>
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>

<% content_for :newsbox do %>
  <%= render_widget "Aide" do %>
    <div class="block">
      <h4>(1) Nom de votre jeu</h4>
      Commencez a taper le nom de votre jeu. L'application vous proposera automatiquement les jeux correspondant que vous
      ne possedez pas encore.
    </div>
  <% end %>

<% end %>
