<div class="account_managment column last">
  <% if logged_in? %>
    <%= link_to "Editer",  edit_game_path(game), class: "ss_sprite ss_pencil" %>
    <%= link_to "Effacer", game_path(game), method: :delete,  html: { class: "ss_sprite ss_trash" } %>
    <%= image_tag "separator.png" %>
    <span id="<%= dom_id(game) %>_status"><%= ac_game_status_link_to(game) %></span>
  <% end %>
</div>
