
<div class="account_managment column last">
  <% if logged_in? %>
    
    <%= link_to "Editer",  edit_game_path(game),  :class => "ss_sprite ss_page_white_edit" %>
    <%= link_to_remote "Effacer", :url => game_path(game), :method => :delete,  :html => {:class => "ss_sprite ss_page_white_delete"} %>
    <%= image_tag "separator.png" %>
    <% if account_have_game?(game) %>
      <%= link_to_remote "Supprimez ce jeu de ma ludotheque", :url => {:controller => "account_games", 
      										:action => 'destroy', :game_id => game.id}, :method => :delete, :html => {:class => "ss_sprite ss_folder_delete"} %>
    <% else %>
      <%= link_to_remote "L'ajouter a ma ludotheque", 	:url =>account_games_path(:account_game => {:game_id => game.id}),
      				            :method => :post, :html => {:class => "ss_sprite ss_folder_add"}  %>
    <% end %>
  <% end %>
</div>