<fieldset>
	<legend>Le plus important</legend>
	<div>
	  <p><%= f.label :name, "Nom du jeu" %><br />
	  <%= f.text_field :name, :size => 50, :class => "title" %></p>
	  <p><%= f.label :description, "Une petite description" %><br />
	  <%= f.text_area :description, :rows => 5, :cols => 71 %></p>
  	<% fields_for :tag, @game  do |ff| %>
  	  <%= render :partial => "tags/new", :locals => {:f => ff} %>
  	<% end %>
  	<% fields_for :game_photo do |g| %>		
  		<div class="column">
  		  <%= image_tag(@game.image.public_filename, :size =>"60x60") if @game.image %>
  		</div>
      <div class="column last">
  			<% if @game.image %>
  				<%= g.label :delete, "Supprimer l'image actuel" %>
  				<%= g.check_box :delete %>
  			<% end %>
  			<p class="<%= @game.image ? "hide" : "" %>">
  			  <%= g.label :uploaded_data, "Une image de la boite ?" %><br />
    			<%= g.file_field :uploaded_data %>
  			</p>
      </div>
  	<% end %>
	</div>
</fieldset>
<fieldset>
	<legend>Le coin technique</legend>
	<div>
	 	  <p><%= f.label :min_player, "De " %><%= f.text_field :min_player, :size => 2 %>
	 	  &nbsp;<%= f.label :max_player, "A " %><%= f.text_field :max_player, :size => 2 %>
	 	  &nbsp;joueurs</p>
	 	  <p><%= f.label "Niveau de difficult&eacute; (1 a 5) " %><%= f.text_field :difficulty, :size => 4 %></p>
	  	<p><%= f.label "Dur&eacute;e " %><%= f.text_field :time_average, :size => 10 %></p>
	  	<p><%= f.label :editor, "Editeur " %><%= f.text_field :editor %></p>
	  	<p><%= f.label :publish_year, "Ann&eacute;e de sortie " %><%= f.text_field :publish_year, :size => 4 %></p>
	</div>
</fieldset>

<fieldset>
  <legend>Les auteurs</legend>
  <div>
    <span class="tips">Sous la forme "nom-prenom"  1 par ligne ",".</span>
	  <ul id="authors">
  		<% @authors.each_with_index do |author, index| %>
  	  	  <li>
  	  	  	<% fields_for :authors, author do |ffa| %>
  	  			  <%= ffa.text_field :display_name, :index => index, :class => "author_display_name text" %>
  	  	      <div class="auto_complete" id="authors_lookup_auto_complete"></div> 
  	  	    <% end %>
  	  	  </li>
  	  	<% end %>		
  	</ul>
  </div>
</fieldset>

<fieldset>
	<legend>Information Complementaires</legend>
	<div>
	  <p><%= f.label :average, "Moyenne TricTrac " %>
	  <%= f.text_field :average, :size => 4  %></p>
	  <p><%= f.label :url, "Url de la fiche sur TricTrac" %>
	  <%= f.text_field :url %></p>  
	</div>
</fieldset>