<fieldset>
	<legend>Le plus important</legend>
  <div class="clear">
    <p class="left"><%= f.label :name, "Nom du jeu (Obligatoire)" %><br />
    <%= f.text_field :name, :size => 50, :class => "title" %></p>
    <p class="left"><%= f.label :vo_name, "Nom de la VO" %><br />
    <%= f.text_field :vo_name, :class => "title" %></p>
  </div>


  <p><%= f.label :description, "Une petite description" %><br />
  <%= f.text_area :description, :rows => 5, :cols => 71 %></p>
	<% fields_for :tag, @game  do |ff| %>
	  <%= render :partial => "tags/new", :locals => {:f => ff} %>
	<% end %>
	<% fields_for :game_photo do |g| %>		
		<div class="column">
		  <%= game_box_for(@game, :size => "60x60") %>
		</div>
    <div class="column last">
			<% if @game.image %>
				<%= g.label :delete, "Supprimer l'image actuel" %>
				<%= g.check_box :delete %>
			<% end %>
			<p class="<%= @game.image ? "hide" : "" %>">
			  <%= g.label :uploaded_data, "Une image de la boite ?" %><br />
  			<%= g.file_field :uploaded_data %>
			</p>
    </div>
	<% end %>
</fieldset>
<fieldset>
	<legend>Le coin technique</legend>
 	  <p><%= f.label :min_player, "De " %><%= f.text_field :min_player, :size => 2 %>
 	  &nbsp;<%= f.label :max_player, "A " %><%= f.text_field :max_player, :size => 2 %>
 	  &nbsp;joueurs (Obligatoire)</p>
 	  <p><%= f.label :target, "Type de public" %>
 	  <%= f.select :target, Game::Target  %></p>
 	  <p><%= f.label :time_category, "Durée de jeu moyenne" %>
 	  <%= f.select :time_category, Game::TimeCategory %></p>
 	  
 	  <p><%= f.label "Niveau de difficult&eacute; (1 a 5) " %><%= f.text_field :difficulty, :size => 4 %></p>
  	<p><%= f.label :editor, "Editeur " %><%= f.text_field :editor %></p>
  	<p><%= f.label :published_at, "Ann&eacute;e de sortie " %><%= f.date_select :published_at, :discard_month => true, 
  	                                                              :start_year => 1980 %></p>
</fieldset>

<fieldset id="authorship_form">
  <legend>Les auteurs</legend>
  <div id="authorships">
		<% @authorships.each_with_index do |authorship, index| %>
      <%= render :partial => "authorships/form", :locals => {:index => index + 1, :authorship => authorship } %>
	  <% end %>		
	</div>
</fieldset>

<fieldset>
	<legend>Information Complementaires</legend>
	<div>
	  <p><%= f.label :average, "Moyenne TricTrac " %>
	  <%= f.text_field :average, :size => 4  %></p>
	  <p><%= f.label :url, "Url de la fiche sur TricTrac" %>
	  <%= f.text_field :url %></p>  
	</div>
</fieldset>