<fieldset>
	<legend>Le plus important</legend>
  <div class="clear">
    <p class="left"><%= f.label :name, "Nom du jeu (Obligatoire)" %><br />
    <%= f.text_field :name, :size => 60, :class => "title" %></p>
  </div>


  <p><%= f.label :description, "Une petite description" %><br />
  <%= f.text_area :description, :rows => 5, :cols => 71 %></p>
	<% fields_for :tag, @game  do |ff| %>
	  <%= render :partial => "tags/new", :locals => {:f => ff} %>
	<% end %>
</fieldset>

<fieldset>
  <legend>Associer une image de la boite</legend>
  <p><%= f.label :box, "Image de la boite" %><br />
  <%= f.file_field :box %></p>
</fieldset>

<fieldset>
	<legend>Le coin technique</legend>
 	  <p><%= f.label :min_player, "De " %><%= f.text_field :min_player, :size => 2 %>
 	  &nbsp;<%= f.label :max_player, "A " %><%= f.text_field :max_player, :size => 2 %>
 	  &nbsp;joueurs (Obligatoire)</p>
 	  <p><%= f.label :target, "Type de public" %>
 	  <%= f.select :target, Game::Target  %></p>
 	  <p><%= f.label :time_category, "Durée de jeu moyenne" %>
 	  <%= f.select :time_category, Game::TimeCategory %></p>
 	  
 	  <p><%= f.label "Niveau de difficult&eacute; (1 a 5) " %><%= f.select :difficulty, (1..5) %></p>
</fieldset>

<fieldset id="authorship_form">
  <legend>Les auteurs</legend>
  <div id="authorships">
		<% @authorships.each_with_index do |authorship, index| %>
      <%= render :partial => "authorships/form", :locals => {:index => index + 1, :authorship => authorship } %>
	  <% end %>		
	</div>
</fieldset>

<fieldset>
	<legend>Information Complementaires</legend>
	<div>
	  <p><%= f.label :average, "Moyenne TricTrac " %>
	  <%= f.text_field :average, :size => 4  %></p>
	  <p><%= f.label :url, "Url de la fiche sur TricTrac" %>
	  <%= f.text_field :url %></p>  
	</div>
</fieldset>