<% div_for game, :class => "autohide clear" do %>
	<%= image_tag("modified.png", :class => "ac_status right") if account_have_game?(game)  %>
	<h3><%= link_to game.name, game_path(game) %> <%= content_tag :span, " (" + game.vo_name + ")" unless game.vo_name.blank? %></h3>
  <div class="clear content">
    <div class="column span-3 last"><%= game_box_for(game, :size =>"80x80") %></div>
  	<div class="column span-14 last">
    	  <% if !game.description.blank? %>
    	    <%=truncate(h(game.description), 215, "... " + link_to("Voir la suite", game_path(game))) %>
    	  <% else %>
    	      <span class="empty">Ce jeux ne possede aucun description actuellement</span>
    	  <% end %>
    	  <br /><br />
    	<span class="meta"><%= image_tag "tag_green.png", :size => "14x14" %>Tags : <%= game_tags_links game %></span>
  	</div>
  </div>
  <%= render :partial => 'account_managment', :locals => {:game => game} %>
<% end %>

