<% div_for game, :class => "autohide" do %>
  <%= render :partial => 'manage', :locals => {:game => game} %>

	<h2><%= link_to game.name, game_path(game) %></h2>
	<%= image_tag(game.image.public_filename, :size =>"80x80", :class => "pull-1 left") if game.image %>
	<%= parse_tag game.description %>
	<span class="meta">Tags : <%= game_tags_links game %></span>
<% end %>
<hr />

