<tr>
  <td><%= image_tag(game_table.box.url(:thumb), :class => "mini") %></td>
  <td><%= link_to game_table.name, game_path(game_table) %></td>
  <td><%= game_table.target_str %></td>
  <td></td>
  <td><%= game_table.editions.size > 0 &&  game_table.editions.first.published_at ? game_table.editions.first.published_at.year : "----" %></td>
  <% if logged_in? %>
    <td>
      <% if account_have_game?(game_table) %>
          <%= link_to_remote "SupprimerG", :url => {:controller => "account_games", 
          										:action => 'destroy', :game_id => game_table.id}, :method => :delete, :html => {:class => "ss_sprite ss_x"} %>
        <% else %>
          <%= link_to_remote "Ajouter", 	:url => account_games_path(:account_game => {"1" => {:game_id => game_table.id}}),
          				            :method => :post, :html => {:class => "ss_sprite ss_briefcase"}  %>
      <% end %>
    </td>
  <% end %>
</tr>
