<% div_for game, :class => "autohide clear" do %>
  <%= render :partial => 'manage', :locals => {:game => game} %>
	<h3><%= link_to game.name, game_path(game) %> <%= content_tag :span, " (" + game.vo_name + ")" unless game.vo_name.blank? %></h3>
  <div class="column span-3"><%= game_box_for(game, :size =>"80x80") %></div>
	<div class="column span-13 last">
	  <p>
  	  <% if !game.description.blank? %>
  	    <%=h truncate(game.description, 215, "... " + link_to("Voir la suite", game_path(game))) %>
  	  <% else %>
  	      <span class="empty">Ce jeux ne possede aucun description actuellement</span>
  	  <% end %>
  	</p>
  	<span class="meta"><%= image_tag "tag_green.png", :size => "14x14" %>Tags : <%= game_tags_links game %></span>
  	<div class="account_managment">
      <%= render :partial => 'account_managment', :locals => {:game => game} %>
  	</div>
	</div>
<% end %>
<hr />

