<tr>
  <td><%= game_box_for(game_quick_list, :size =>"35x35", :class => "mini") %></td>
  <td><%= link_to game_quick_list.name, game_path(game_quick_list) %></td>
  <td><%= game_quick_list.target_str %></td>
  <td></td>
  <td><%= game_quick_list.published_at.year if game_quick_list.published_at  %></td>
  <% if logged_in? %>
    <td><%= ac_game_status_for(game_quick_list) %></td>
  <% end %>
</tr>
