<tr>
  <td><%= image_tag(game_quick_list.box.url(:thumb), :class => "mini") %></td>
  <td><%= link_to game_quick_list.name, game_path(game_quick_list) %></td>
  <td><%= game_quick_list.target_str %></td>
  <td></td>
  <td><%= game_quick_list.editions.size > 0 &&  game_quick_list.editions.first.published_at ? game_quick_list.editions.first.published_at.year : "----" %></td>
  <% if logged_in? %>
    <td><%= ac_game_status_for(game_quick_list) %></td>
  <% end %>
</tr>
