<%= content_tag_for :div,  game, class: "autohide clear" do %>
	<h3>
	  <div class="right"><%= langs_flag_for(game) %></div>
	  <%= link_to game.name, game %>
	  <span class="small"><%= other_name_for(game, game.editions) %></span>
	</h3>
  <div class="clear content">
    <div class="column span-3 last"><%= image_tag(game.box.url(:normal), :class => "mini") %></div>
  	<div class="column span-14 last">
    	  <div class="block">
    	    <h4><span class="ss_sprite ss_document"></span>Description</h4>
    	    <% if game.description.present? %>
            <%= truncate(game.description, length: 215, omission: " #{link_to("Voir la suite", game)}") %>
      	  <% else %>
      	      <span class="empty">Ce jeux ne possede aucun description actuellement</span>
      	  <% end %>
    	  </div>
        <div class="block">
          <h4><span class="ss_sprite ss_tag"></span>Les tags</h4>
          <span class="<%= "tag-in-place-edit" if logged_in?  %>" id="<%= dom_id(game, :in_place_edit) %>"><%= game_tags_links game %></span>
          <%= link_to("...", "#", :class => "in_place_edit_trigger tag") if logged_in? %>
        </div>
  	</div>
  </div>
  <%= render 'account_managment', :game => game %>
<% end %>
