
<% content_for :page_nav do %>
    <%= will_paginate @games %>
<% end %>

<h3>Les jeux...</h3>

<div class="pagination clear">
  <span><%= link_to "Tous", games_path %></span>
    <% ("A".."Z").each do |letter| %>
      <%= link_for_first_letter letter, :games_path %>
    <% end %>
</div>

<div>

	<div id="games">
    <%= render @games || content_tag(:p, "Desolé. Aucun jeux ne corespond a vos criteres.  ") %>
	</div>

</div>

<%= yield :page_nav %>

<% content_for :newsbox do %>

  <%= render_widget "Les derniers ajouts", :sprite => "ss_tower" do %>
    <ul class="strip">
      <% @last.each do |game| %>
        <li>
        	<%= image_tag(game.box.url(:thumb), :class => "mini") %>
        	<%= link_to(truncate(game.name), game_path(game), :class => "name") %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
