
<%  content_for :page_nav do%>
	<div class="page-nav">
    <%= will_paginate @games %>
	</div>
<% end %>

<h3>Les jeux...</h3>

<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>

<%= yield :page_nav %>

<div>
	
	<div id="games">
		<% if @games.size > 0 %>
			<%= render :partial => @games %>
		<% else %>
			Desolé. Aucun jeux ne corespond a vos criteres.
		<% end %>
	</div>
	
</div>

<%= yield :page_nav %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>