
<%  content_for :page_nav do%>
	<div class="page-nav">
    <%= will_paginate @games %>
	</div>
<% end %>

<h3>Les jeux...</h3>

<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>

<%= yield :page_nav %>

<div>
	
	<div id="games">
		<% if @games.size > 0 %>
			<%= render :partial => @games %>
		<% else %>
			Desolé. Aucun jeux ne corespond a vos criteres.
		<% end %>
	</div>
	
</div>

<%= yield :page_nav %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>

<% content_for :newsbox do %>
  <% render_widget "Administration" do %>
    <%= link_to "Ajouter un jeu", new_game_path, :class => "ss_sprite ss_page_white_add" %>
  <% end if logged_in? %>

  <% render_widget "Les derniers ajouts" do %>
    <ul class="strip">
      <% @last.each do |game| %>
        <li>
        	<%= game_box_for game, :class => "mini" %>
        	<%= link_to(truncate(game.name, 30), game_path(game), :class => "name") %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>