
<%  content_for :page_nav do%>
	<div class="page-nav">
    <%= will_paginate @games %>
	</div>
<% end %>

<h3>Les jeux...</h3>

<div class="column prepend-1">
	
	<%= yield :page_nav %>
	<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
	<div id="games">
		<% if @games.size > 0 %>
			<%= render :partial => @games %>
		<% else %>
			Desolé. Aucun jeux ne corespond a vos criteres.
		<% end %>
	</div>
	<%= yield :page_nav %>
</div>


<% content_for :newsbox do %>
	<%= render_widget "search",  "Recherche" %>
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>