<h3>Remplacer et effacer</h3>

<% form_for :replace, :url => merge_game_path(@game), :html => {:id => "replace_game"}  do |f| %>

  <fieldset>
    <p class="info">Cette action va remplacer toutes le occurences du jeu <strong><%= @game.name %>(ID : <%= @game.id %>)</strong> dans la base.
    Cela comprend <strong>les jeux posseder</strong> par les joueurs ainsi que <strong>les partie jou&eacute;es</strong>. 
    Toutes ces donnes seront apres action remplacer par le nouveau jeu.</p>
    <p>Remplacer <em><%= @game.name %>(ID : <%= @game.id %>)</em>
    <%= f.label :destination, "Par " %>&nbsp;
    <%= f.text_field :destination %></p>
    <div class="auto_complete" id="replace_destination_auto_complete"></div>
    <%= f.hidden_field :destination_id %>
  </fieldset>
  <%= submit_or_back_to game_path(@game), "Retour sur #{@game.name}" %>
<% end %>