<h3>
  <%= @game.name %>
  <span class="small"><%= other_name_for(@game, @editions) %></span>
</h3>

<% div_for @game, :class => "clear" do %>
	<div class="column span-4 last">
	</div>
	<div class="column span-17 last">
	  <ul class="tabsContainer clear" id="gameTabs">
	   <li class="tabs active left"><a href="#overview">Pr&eacute;sentation</a></li>
	   <li class="tabs left"><a href="#editions">&Eacute;ditions</a></li>
	   <% if logged_in? %>
	     <li class="invisitab right clear">
  	      <%= link_to "", edit_game_path(@game), :class => "ss_sprite ss_pencil" %>
          <%= link_to "", game_path(@game), :method => :delete, :class => "ss_sprite ss_trash" %>
       </li>
     <% end %>
	  </ul>
	  <div id ="overview" class="tabsBody">
	    	<div class="block">
	    	  <%= image_tag(@game.box.url(:big), :class => "right box") %>
      	  <p>
      	  <% if !@game.description.blank? %>
      	    <%=h @game.description %>
      	  <% else %>
      	      <span class="empty">Ce jeux ne possede aucun description actuellement</span>
      	  <% end %>
      	  </p>
      	  <br /><br />
      	  <span class="ss_sprite ss_announcement">Sortie en : <span class="meta"><%= @editions.size > 0 &&  @editions.first.published_at ? @editions.first.published_at.year : "----" %></span></span>&nbsp;|&nbsp;
     			<span class="ss_sprite ss_clock ">Dur&eacute;e : <span class="meta"><%= @game.time_str %></span></span>&nbsp;|&nbsp;
     			<span class="ss_sprite ss_users">Joueurs : <span class="meta"><%= @game.min_player %> a <%= @game.max_player %></span></span>&nbsp;|&nbsp;
     		  <span class="ss_sprite ss_tv">Public : <span class="meta"><%= @game.target_str.downcase %></span><span>
      	  
      	</div>
      	<div class="block">
      	 <h4><span class="ss_sprite ss_vcard"></span>Les auteurs</h4>
      	 <%= authors_links(@game) %>
      	</div>
      	<div class="block">
      	 <h4><span class="ss_sprite ss_tag"></span>Les Tags</h4>
      	 <span class="<%= "tag-in-place-edit" if logged_in?  %>" id="<%= dom_id(@game, :in_place_edit) %>"><%= game_tags_links @game %></span>
      	 <%= link_to("...", "#", :class => "in_place_edit_trigger tag") if logged_in? %>
      	</div>
	  </div>
	  <div id="editions" class="tabsBody">
    		<%= render :partial => "editions/show" %>
	  </div>
	</div>
<% end %>


<% content_for :newsbox do %>

  <% render_widget "Administration" do %>
    <ul>
      <% if logged_in? %>
        <li id="my_account_game"><%= account_game_status_links_for(@game) %></li>
        <hr />
        <li><%= manage_authors_link(@game) %></li>
        <li><%= link_to "Gerer les editions", game_editions_path(@game), :class => "ss_sprite ss_joystick" %></li>
         <hr />
      <% end %>
      <li><%= link_to "Retour a la liste de jeux", :back, :class => "ss_sprite ss_left" %></li>
    </ul>
  <% end  %>

  <% render_widget "Statistiques" do %>
		<span class="flash"><%= pluralize(@game.account_games.size, "membre</span> a", "membres</span> ont") %>
		ce jeu dans leurs ludotheque.
    <br />
		Nos membres ont joués un total de 
		<span class='flash'><%= pluralize(@game.parties.count, "partie</span>", "parties</span>") %> de ce jeu.
	<% end %>
	
<% end %>


<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>