<%= image_tag("modified.png", :class => "ac_status right") if account_have_game?(@game)  %>
<h3><%= @game.name %> <%= content_tag(:span, " (" + @game.vo_name + ")") unless @game.vo_name.blank? %></h3>

<% div_for @game, :class => "clear" do %>
	<div class="column span-4">
	 <%= game_box_for(@game, :size =>"100x100", :class => "box") %>
	 <div class="resume">
	   <h4><%= @game.name %> en bref</h4>
   	 <ul class="meta">
   	    <li class="ss_sprite ss_date">Sortie en : <span class="flash"><%= @game.published_at.year %></span></li>
   			<li class="ss_sprite ss_clock">Dur&eacute;e : <span class="flash"><%= @game.time_str %></span></li>
   			<li class="ss_sprite ss_user">Joueurs : <span class="flash"><%= @game.min_player %> a <%= @game.max_player %></span></li>
   		  <li class="ss_sprite ss_group">Public : <span class="flash"><%= @game.target_str.downcase %></span></li>
   	</ul>
	 </div>
	</div>
	<div class="column span-12 last">
    	<p>
    	  <% if !@game.description.blank? %>
    	    <%= @game.description %>
    	  <% else %>
    	      <span class="empty">Ce jeux ne possede aucun description actuellement</span>
    	  <% end %>
    	  
    	</p>
		<ul class="meta">
			<li><%= image_tag "tag_green.png", :size => "14x14" %>Tags : <%= game_tags_links @game %></li>
			<li>Un jeu de :<span class="flash"><%= authors_links(@game) %></span></li>

		</ul>
		<div>Un jeu edité par (<%= @game.editions.size %>):
		<ul>
		  <%= render :partial => "editions/list", :collection => @game.editions %>
		</ul>  
		</div>
		
	</div>
	<%= render :partial => 'account_managment', :locals => {:game => @game} %>
<% end %>
	
<div class="page-nav">
	<strong><%= link_to "Retour sur la liste des jeux", request.env["HTTP_REFERER"] ? request.env["HTTP_REFERER"] : games_path %></strong>		
</div>	



<% content_for :newsbox do %>
	<% render :layout => "layouts/widget", :locals => {:title => "Statistiques"} do %>
		<span class="flash"><%= pluralize(@game.account_games.size, "membre</span> a", "membres</span> ont") %>
		ce jeu dans leurs ludotheque.
    <br />
		Nos membres ont joués un total de 
		<span class='flash'><%= pluralize(@game.parties.count, "partie</span>", "parties</span>") %> de ce jeu.
	<% end %>
	
	<% render :layout => "layouts/widget", :locals => {:title => "Ma ludotheque"} do %>
	  Vous <%= account_have_game?(@game) ? "possedez" : "ne possedez pas" %> ce jeu.<br />
	  <% if account_have_game?(@game) %>
	    <%= link_to "Supprimez #{@game.name} de ma ludotheque", game_account_game_path(@game), :method => :delete, :class => "ss_sprite ss_folder_delete" %>
	  <% else %>
	    <%= link_to "Ajoutez #{@game.name} de ma ludotheque", new_game_account_game_path(@game), :class => "ss_sprite ss_folder_add " %>
	  <% end %>
	<% end if logged_in? %>
<% end %>


<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>