<%= render :partial => 'manage', :locals => {:game => @game} %>
<h3><%= @game.name %></h3>

<% div_for @game, :class => "clear" do %>
	<div class="column span-3">
	 <%= image_tag(@game.image.public_filename, :size =>"100x100") if @game.image %>
	</div>
	<div class="column last span-13">
    	<%= parse_tag(@game.description) %>
		<ul class="meta">
			<li>Difficulté (1 a 5) : <span class="flash"><%= @game.difficulty %></span></li>
			<li><%= nb_player_tag(@game) %></li>
			<li>Moyenne TricTrac: <span class="hide average"><%= @game.average %></span><span class="rate"></span></li>
			<li>Fiche sur TricTrac : <%= link_to "#{@game.name} => TricTrac", @game.url ? @game.url : "#" %></li>
			<li>Temps d'une partie <span class="flash"><%= @game.time_average %></span></li>
			<li>Année de sortie : <span class="flash"><%= @game.publish_year %></span></li>
			<li>Un jeu de :<span class="flash"><%= authors_links(@game.authors) %></span></li>
			<li>Editeur <span class="flash"><%= @game.editor %></span></li>
			<li>Tags : <%= game_tags_links @game %></li>
		</ul>
	</div>
<% end %>
	
<div class="page-nav">
	<strong><%= link_to "Retour sur la liste des jeux", games_path %></strong>		
</div>	



<% content_for :newsbox do %>
	<% render :layout => "layouts/widget", :locals => {:title => "Statistiques"} do %>
		<span class="flash"><%= pluralize(@game.account_games.size, "membre</span> a", "membres</span> ont") %>
		ce jeu dans leurs ludotheque.
    <br />
		Nos membres ont joués un total de 
		<span class='flash'><%= pluralize(@game.parties.count, "partie</span>", "parties</span>") %> de ce jeu.
	<% end %>
<% end %>


<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>