<h3><%= @game.name %> <%= content_tag(:span, " (" + @game.vo_name + ")") unless @game.vo_name.blank? %></h3>

<% div_for @game, :class => "clear" do %>
	<div class="column span-3">
	 <%= game_box_for(@game, :size =>"80x80") %>
	</div>
	<div class="column last span-13">
    	<p>
    	  <% if !@game.description.blank? %>
    	    <%= @game.description %>
    	  <% else %>
    	      <span class="empty">Ce jeux ne possede aucun description actuellement</span>
    	  <% end %>
    	  <br /><br />
    	  Un jeu <span class="flash"><%= @game.target_str.downcase %></span> pour <%= nb_player_tag(@game) %>.<br />
    	  
    	  <span class="meta"><%= image_tag "tag_green.png", :size => "14x14" %>Tags : <%= game_tags_links @game %></span>
    	</p>
		<ul class="meta">
			<li>Temps d'une partie <span class="flash"><%= @game.time_average %></span></li>
			<li>Année de sortie : <span class="flash"><%= @game.publish_year %></span></li>
			<li>Un jeu de :<span class="flash"><%= authors_links(@game.authors) %></span> chez <span class="flash"><%= @game.editor ? @game.editor : "-----"  %></span></li>
		  <li>Moyenne TricTrac: <span class="hide average"><%= @game.average %></span><span class="rate"></span></li>
			<li>Fiche sur TricTrac : <%= link_to "#{@game.name} => TricTrac", @game.url ? @game.url : "#" %></li>
		</ul>
	</div>
	<%= render :partial => 'account_managment', :locals => {:game => @game} %>
<% end %>
	
<div class="page-nav">
	<strong><%= link_to "Retour sur la liste des jeux", request.env["HTTP_REFERER"] ? request.env["HTTP_REFERER"] : games_path %></strong>		
</div>	



<% content_for :newsbox do %>
	<% render :layout => "layouts/widget", :locals => {:title => "Statistiques"} do %>
		<span class="flash"><%= pluralize(@game.account_games.size, "membre</span> a", "membres</span> ont") %>
		ce jeu dans leurs ludotheque.
    <br />
		Nos membres ont joués un total de 
		<span class='flash'><%= pluralize(@game.parties.count, "partie</span>", "parties</span>") %> de ce jeu.
	<% end %>
	
	<% render :layout => "layouts/widget", :locals => {:title => "Ma ludotheque"} do %>
	  Vous <%= account_have_game?(@game) ? "possedez" : "ne possedez pas" %> ce jeu.<br />
	  <% if account_have_game?(@game) %>
	    <%= link_to "Supprimez #{@game.name} de ma ludotheque", game_account_game_path(@game), :method => :delete, :class => "ss_sprite ss_folder_delete" %>
	  <% else %>
	    <%= link_to "Ajoutez #{@game.name} de ma ludotheque", new_game_account_game_path(@game), :class => "ss_sprite ss_folder_add " %>
	  <% end %>
	<% end if logged_in? %>
<% end %>


<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>