<h3>Les Tags</h3>


<table class="sortable">
  <thead>
    <tr>
      <th class="nosort span-<%= logged_in? ? "14" : "16" %>">Tag</th>
      <% if logged_in? %>
        <th class="nosort span-2">Gerer</th>
      <% end %>
      <th class="nosort center">Nb Jeux</th>
    </tr>
  </thead>
  <tbody>
    <% @cloud.each do |t| %>
      <tr class="autohide" id="<%= t[0].name %>">
        <td><%= link_to t[0].name.humanize, tag_path(t[0].name) %></td>
        <% if logged_in? %>
          <td><div class="function">
            <%= link_to "", edit_tag_path(t[0].name), :class => "ss_sprite ss_pencil" %>
            <%= link_to_remote "", :url => tag_path(t[0].name), :method => :delete, :html => {:class => "ss_sprite ss_trash"} %>
          </div></td>
        <% end %>
        <td class="center"><div class="round"><%= t[1] %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page-nav">
  <%= will_paginate @cloud %>
</div>

<% content_for :subnav do %>
	<%= render :partial => "games/subnav" %>
<% end %>