<h3>Les jeux de <%= @tag.name.humanize %></h3>

<table class="sortable">
  <thead>
    <tr>
      <th class="span-1 nosort"></th>
      <th class="span-7">Jeu</th>
      <th class="span-2">Public</th>
      <th class="span-<%= logged_in? ? "5" : "7" %> no-sort"></th>
      <th class="span-3">Ann&eacute;e de sortie</th>
      <% if logged_in? %>
        <th class="nosort">Status ludotheque</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "games/game_table", :collection => @games %>
  </tbody>
</table>

<%= will_paginate @games if @games.size > 0 %>

<% content_for :subnav do %>
	<%= render :partial => "games/subnav" %>
<% end %>
