<% content_for :head  do %>
	<title>Ajoutez votre jeu au site</title>
<% end %>

<h3>Ajoutez une/des extension a <%= @base.name %>..</h3>


<% simple_form_for :extensions, :url => game_game_extensions_path(@base), :html => {:id => "extensions-form"} do |f| -%>
  <% @extensions.each_with_index do |ext, index| %>
    <% f.fields_for(:games, :index => index) do |fields| -%>
      <%= render "form",  :form => fields , :index => index %>
    <% end -%>
  <% end %>
  <div class="buttons clear">
    <div class="right">
      <strong><%= link_to "Retour sur #{@base.name}", game_path(@base) %></strong> ou <%= f.submit "Ajoutez les extensions" %>
    </div>
  </div>
<% end -%>

<% content_for :newsbox do %>
  <%= render_widget "Administration", :sprite => "ss_tower" do %>
    <div class="clear">
      <div class="column">
        <%= image_tag(@base.box.url(:normal), :class => "mini left") %>
      </div>
      <div class="column">
        <ul>
          <li><%= link_to "Supprimer des extensions", game_game_extensions_path(@base), :class => "ss_sprite ss_trash" %></li>
          <li><%= link_to "Ajouter des extensions", new_game_game_extension_path(@base), :class => "ss_sprite ss_add" %></li>
          <hr /></hr>
          <li><%= link_to "Retour sur #{@base.name}", game_path(@base), :class => "ss_sprite ss_document" %></li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
