<% content_for :head  do %>
	<title>Ajoutez votre jeu au site</title>
<% end %>

<h3>Ajoutez une/des extension a <%= @base_game.name %>..</h3>


<% simple_form_for :games, :url => game_game_extensions_path(@base_game), :html => {:id => "extensions-form"} do |f| -%>
  <% @extensions.each_with_index do |ext, index| %>
    <% fields_for(ext, :index => index) do -%>
      <%= render :partial =>  "form", :locals => {:form => f, :index => index} %>
    <% end -%>
  <% end %>
  <%= f.submit %>
<% end -%>


<% content_for :newsbox do %>
  <% render_widget "Informations", :sprite => "ss_tower" do %>
    <div class="clear">
      <div class="right">
        <%= link_to "Gerer", game_game_extensions_path(@base_game) %><br />
        <%= link_to "Ajouter", "#" %>
      </div>
      <%= image_tag(@base_game.box.url(:big), :class => "box left") %>
    </div>
  <% end %>
<% end %>


