<% div_for editor, :class => "game clear" do %>
  <h3>
	  <div class="right"><%= flag_for_lang(editor.lang) %></div>
	  <%= link_to editor.name, editor_path(editor) %> 
	</h3>
  <div class="column span-3 last"><%= image_tag(editor.logo.url(), :size => "70x70", :class => "mini") %></div>
  <div class="column span-14 last">
    <div class="block clear">
	    <h4>Ces dernieres sorties</h4>
	      <% editor.editions.find(:all, :limit => 5, :order => "published_at DESC ", :include => :game).each do |e| %>
	        <div class="left">
	          <%= image_tag (e.game.box.url(:normal), :size => "45x45", :class => "mini") %>
	          <span class="hide"><%= e.game.name %></span>
	        </div>
	        
	      <% end  %>
	  </div>
  </div>
<% end %>


