<tr class="autohide" id="<%= dom_id(editor) %>">
  <td><%= flag_for_lang(editor.lang) %></td>
  <td><%= link_to editor.name.humanize, editor_path(editor) %></td>
  <td></td>
  
  <% if logged_in? %>
    <td><div class="function">
      <%= link_to "", edit_editor_path(editor), :class => "ss_sprite ss_page_white_edit" %>&nbsp;|&nbsp;
      <%= link_to_remote "", {:url => editor_path(editor), :method => :delete},  :class => "ss_sprite ss_page_white_delete"  %>
    </div></td>
  <% end %>
  <td class="center"><div class="round"><%= editor.editions_count %></div></td>
</tr>