<%= content_tag_for :div, editor, class: "game clear" do %>
  <h3>
	  <span class=" right <%= css_for_lang(editor.lang) %>"></span>
	  <%= link_to editor.name, editor %>
	</h3>
	<div class="content">
	  <div class="column span-3 last"><%= image_tag(editor.logo.url(), :size => "70x70", :class => "mini") %></div>
    <div class="column span-14 last">
      <div class="block clear">
  	    <h4>Ces dernieres sorties</h4>
  	     <% if editor.editions.count > 0 %>
  	      <ul class="horizontal">
  	        <% editor.editions.limit(5).order(published_at: :desc).includes(:game).each do |e| %>
    	        <li id="<%= dom_id(e) %>" class="surround tip">
    	            <%= image_tag(e.game.box.url(:normal), :size => "45x45", :class => "mini", :alt => e.game.name) %>
    	        </li>
    	      <% end  %>
    	      <% if ((editor.editions_count - 5) > 0) %>
  	          <li>Et <%= editor.editions_count - 5 %> de plus.</li>
  	        <% end %>
  	      </ul>
  	    <% else %>
  	      <p class="empty">Cet &eacute;diteur n'a plubli&eacute; auncun jeux pour le moment.</p>
  	    <% end %>
  	  </div>
    </div>
	</div>
<% end %>


