<% content_for:head do %>
	<title>Mettre a jour <%= @editor.name %></title>
<% end %>

<h3>Mettre a jour <%= @editor.name %></h3>

<%= form_for @editor  do |f| %>
  <%= render :partial => f %>
  <%= submit_or_back_to editor_path(@editor), "retour sur #{@editor.name}" %>
<% end %>
