<% content_for:head do %>
	<title>Les editeurs</title>
<% end %>


<h3>Les editeurs</h3>

<table class="sortable">
  <thead>
    <tr>
      <th class="span-1"></th>
      <th class="span-6 nosort">Nom</th>
      <th class="span-<%= logged_in? ? "8" : "10" %> nosort"></th>
      <% if logged_in? %>
        <th class="span-2 nosort">Gerer</th>
      <% end %>
      <th class="center nosort">Nb Jeux</th>

    </tr>
  </thead>
  <tbody>
    <%= render :partial => @editors %>
  </tbody>
</table>

<div class="page-nav">
  <%= will_paginate @editors %>
</div>

<% content_for :newsbox do %>
  <div id="placeholder-1">
    <% render_widget "Administration" do %>
      <ul>
    		<li><%= link_to "Ajouter un editeur", new_editor_path, :class => "ss_sprite ss_page_white_add" %></li>
    	</ul>
    <% end if logged_in? %>
  </div>
<% end  %>


<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>