<% content_for:head do %>
	<title><%= @editor.name %></title>
<% end %>


<h3><%= @editor.name %></h3>

<div class="column span-17 last">
  <div class="column span-4">
    <%= image_tag @editor.logo.public_filename, :class => "box left", :size => "90x90" if @editor.logo %>
  </div>
  <div id="edition-breakdown" class="column span-13 last" style="height: 126px;"></div>


<% if @editor.games.size > 0 %>
  
  <table class="sortable">
    <thead>
      <tr>
        <th class="span-1 nosort"></th>
        <th class="span-6">Jeu</th>
        <th class="span-3">Public</th>
        <th class="span-<%= logged_in? ? "1" : "3" %> no-sort"></th>
        <th class="span-3">Ann&eacute;e de sortie</th>
        <% if logged_in? %>
          <th class="nosort last">Gerer</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "edition", :collection => @editions %>
    </tbody>
  </table>
<% else %>
  <p class="empty">Cet &eacute;diteur n'a publi&eacute; aucun jeux.</p>
<% end %>
</div>

<% content_for :newsbox do %>
  <div id="placeholder-1">
    <% render :layout => "layouts/widget", :locals => {:title => "Administration"} do %>
      <ul>
        <% if logged_in? %>
          <li><%= link_to "Editer", edit_editor_path(@editor), :class => "ss_sprite ss_page_white_edit" %></li>
          <li><%= link_to "Effacer", editor_path(@editor), :method => :delete, :class => "ss_sprite ss_page_white_delete" %></li>
    	  <% end %>
    	    <li><%= link_to "Retour sur la liste des editeur", editors_path, :class => "ss_sprite ss_arrow_undo" %></li>
    	</ul>
    <% end  %>
  </div>
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>