<% content_for:head do %>
	<title><%= @editor.name %></title>
<% end %>


<h3><%= @editor.name %></h3>


<div class="clear">
  <%= image_tag @editor.logo.url, :class => "box left", :size => "90x90" if @editor.logo.file? %>
</div>    
    

<% if @editor.games.size > 0 %>
  <% @editions.each do |year, editions| %> 
    <div class="clear">
      <h4><%= year %></h4>
      <%= render :partial => "mini", :collection => editions %>
    </div>
    <hr />
  <% end %>
<% else %>
  <p class="empty">Cet &eacute;diteur n'a publi&eacute; aucun jeux.</p>
<% end %>

<%= link_to "Retour sur la liste des editeur", editors_path, :class => "ss_sprite ss_arrow_undo" %>

<% content_for :newsbox do %>
  <div id="placeholder-1">
    <% render_widget "Administration" do %>
      <ul>
        <% if logged_in? %>
          <li><%= link_to "Editer", edit_editor_path(@editor), :class => "ss_sprite ss_page_white_edit" %></li>
          <li><%= link_to "Effacer", editor_path(@editor), :method => :delete, :class => "ss_sprite ss_page_white_delete" %></li>
    	  <% end %>
    	    <li><%= link_to "Retour sur la liste des editeur", editors_path, :class => "ss_sprite ss_arrow_undo" %></li>
    	</ul>
    <% end  %>
  </div>
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>