<h3>Vos parties du <%= l @date, :format => :long_ordinal %> : Les Stats </h3>

<div class="column span-6">
  <strong>Par nombre de joueur</strong>
  <ul>
    <% @by_player.each do |player, count| %>
      <li>@<%= player %> : <%= count.round(2) %>%</li>
    <% end %>
  </ul>
</div>

<div class="column span-6">
  <strong>Par duree</strong>
  <ul>
    <% @by_time.each do |time, count| %>
      <li><%= Game::TimeCategory[time][0] %> : <%= count.round(2) %>%</li>
    <% end %>
  </ul>
</div>

<div class="column span-6">
  <strong>Par cible</strong>
  <ul>
    <% @by_target.each do |target, count| %>
      <li><%= Game::Target[target][0] %> : <%= count.round(2) %>%</li>
    <% end %>
  </ul>
</div>