<% fields_for player, :index => index do |p| %>
  <div id="<%= index %>" class="player">
    <p><%= p.label :member_name, "Nom joueur #{index}" %><br />
    <%= text_field_tag :member_name, player.display_name, :class => "member autocomplete", :id => "party_player_#{index}_member_name" %>
    <%= content_tag(:span, "", :class => "ss_sprite ss_add add btn") if index >= @party.game.min_player && index < @party.game.max_player %>
    <%= content_tag(:span, "", :class => "ss_sprite ss_trash remove btn") if index > @party.game.min_player %>
    </p>
    <div id="member_name_<%= index %>_auto_complete" class="auto_complete"></div>
    <%= p.hidden_field :member_id  %>
    <%= p.hidden_field :party_id %>
  </div>
<% end %>