<h3>Partie du <%= l @party.created_at.to_date %> &nbsp;|&nbsp;Jeu : <%= @party.game.name %></h3>


<% form_for :players, :url => party_player_path(@party), :html => {:method => :put, :class => "member", :id => "party_#{@party.id}_members"} do |form| %>
  <div id="party_players">
    <% @party.players.each_with_index do |player, index|  %>
        <%= render :partial => form, :locals => {:index => index + 1, :player => player } %>
    <% end %>
  </div>
  <%= form.hidden_field :party_id, :value => @party.id %>
  <%= form.check_box :save_and_next %>
  <%= form.label :save_and_next, "Traiter la partie suivante" %>
  <%= form.hidden_field :party_id, :value => @party.id %>
  <%= submit_or_back_to show_parties_path(@party.created_at.to_date), "Retour sur les parties du #{l @party.created_at.to_date}" %>
<% end %>

<% content_for :newsbox do %>
  <%= render :partial => "players" %>
<% end %>