<h3>Partie du <%= @party.created_at.to_s(:date_fr) %> &nbsp;|&nbsp;Jeu : <%= @party.game.name %></h3>


<% form_for :players, :url => party_player_path(@party), :html => {:method => :put, :class => "member", :id => "party_#{@party.id}_members"} do |form| %>
  <div id="party_players">
    <% @party.players.each_with_index do |player, index|  %>
        <%= render :partial => form, :locals => {:index => index + 1, :player => player } %>
    <% end %>
  </div>
  <%= form.hidden_field :party_id, :value => @party.id %>
  <% render :layout => "layouts/form_buttons" do  %>
    <div class="right">
      <strong><%= link_to "Retour sur les parties du #{@party.created_at.to_s(:date_fr)}", party_path(@party) %></strong>
      ou <%= form.submit "Enregistrer" %>
    </div>
    <%= form.check_box :save_and_next %>
    <%= form.label :save_and_next, "Traiter la partie suivante" %>
  <% end %>
<% end %>

<% content_for :newsbox do %>
  <% render :layout => "layouts/widget", :locals => {:title => "Parties  du #{@party.created_at.to_s(:date_fr)}"} do %>
    <ul class="strip">
      <% @parties.each do |p| %>
        <li class="<%= "selected" if p == @party %>"><%= link_to p.game.name, new_party_player_path(p) %></li>
      <% end %>
    </ul>
  <% end  %>
<% end %>