<h3>Partie du <%= @party.created_at.to_date.to_s(:date_fr) %> &nbsp;|&nbsp;Jeu : <%= @party.game.name %></h3>


<% form_for :players, :url => party_players_path(@party), :html => {:class => "member", :id => "party_#{@party.id}_members"} do |form| %>
  <div id="party_players">
    <% @party.game.min_player.times do |t|  %>
        <%= render :partial => form, :locals => {:index => t + 1, :player => @party.players.build } %>
    <% end %>
  </div>
  <%= form.hidden_field :party_id, :value => @party.id %>
  <%= submit_or_back_to party_path(@party), "Retour sur les parties du #{@party.created_at.to_date.to_s(:date_fr)}" %>
<% end %>

<% content_for :newsbox do %>
  <%= render :partial => "players" %>
<% end %>