<h3>Partie du <%= l @party.created_at.to_date %> &nbsp;|&nbsp;Jeu : <%= @party.game.name %></h3>


<% form_for :players, :url => party_players_path(@party), :html => {:class => "member", :id => "party_#{@party.id}_members"} do |form| %>
  <div id="party_players">
    <% @party.game.min_player.times do |t|  %>
        <%= render :partial => form, :locals => {:index => t + 1, :player => @party.players.build } %>
    <% end %>
  </div>
  <%= form.hidden_field :party_id, :value => @party.id %>
  <% render :layout => "layouts/form_buttons" do  %>
    <div class="right">
      <strong><%= link_to "Retour sur les parties du #{l @party.created_at.to_date}", party_path(@party) %></strong>
      ou <%= form.submit "Enregistrer" %>
    </div>
    <%= form.check_box :save_and_next %>
    <%= form.label :save_and_next, "Traiter la partie suivante" %>
  <% end %>
<% end %>

<% content_for :newsbox do %>
  <%= render :partial => "players" %>
<% end %>