<table>
	<thead>
		<tr>
		  <th class="span-6">Mois</th><th class="span-2"><%= @start.year %></th><th class="span-2"><%= @end.year %></th>
		  <th class"span-1"><%= image_tag "trends.gif" %></th>
		</tr>
	</thead>
	<tbody>
		<% @parties_overview.each do |month, data|  %>
    		<tr class=" <%= month == @date.month ? "selected" : cycle("roweven", "rowodd") %>">
    			<td><%= month_name(month) %></td>
				  <td><%= data[0] != 0 ? link_to(data[0], parties_resume_path(:date => [month, @start.year]), :class => "empty") : "--" %></td>
				  <td><%= data[1] != 0 ? link_to(data[1], parties_resume_path(:date => [month, @end.year]), :class => "empty") : "--" %></td>
				  <td><%= trends_for(data[0], data[1]) %></td>
			</tr>
  		<% end %>
		<tr class="<%= cycle("roweven", "rowodd")  %>">
			<td>Total</td><td><%= content_tag(:span, @years_total[0], :class => "empty") %></td><td><%= content_tag(:span, @years_total[1], :class => "empty") %></td>
			<td><%= trends_for(@years_total[0], @years_total[1]) %></td>
		</tr>
	</tbody>
</table>