<div class="column span-17">
  <div class="clear">
    <div class="column span-9">
      <%= render_widget "Mon profil", :partial => "profile" %>
    </div>
    <div class="column span-8 last">
      <%= render_widget "Top 5", :partial => "parties/most_played", :html => {:id => "top"} %>
    </div>
  </div>
  
  <%= render_widget "Evolutions des parties par mois", :partial => "monthly" %>
</div>

<div class="column span-7 last">
  <% render_widget "Activite recente" do %>
    <div class="block">
      <h4>Vos derniers jeux rentr&eacute;s</h4>
      <%= render :partial => "account_games/last" %>
    </div>
    <div class="block">
      <h4>Vos dernieres parties</h4>
      <%= render :partial => "parties/last" %>
    </div>
  <% end %>
</div>