<h3><%= current_account.login.humanize%> dashboard's</h3>

<div class="column span-11 append-1">
  <%= render_widget "Derniers achats", :partial => "account_games/last" %>
  <%= render_widget "Parties par mois", :partial => "monthly" %>

</div>

<div class="column span-12 last">
  <%= render_widget "Derniere parties", :partial => "parties/last" %>
	<%= render_widget "Top 5", :partial => "parties/most_played" %>
</div>