<h3><%= current_account.login.humanize%> dashboard's</h3>

<div class="column span-11 append-6">
  <%= render_widget "Top 5", :partial => "parties/most_played" %>
  <%= render_widget "Parties par mois", :partial => "monthly" %>

</div>

<div class="column span-7 last">
  <% render_widget "Activite recente" do %>
    <div class="block">
      <h4>Vos derniers jeux rentr&eacute;s</h4>
      <%= render :partial => "account_games/last" %>
    </div>
    <div class="block">
      <h4>Vos dernieres parties</h4>
      <%= render :partial => "parties/last" %>
    </div>
  <% end %>
</div>