<fieldset>
  <p><%= form.label :name, "Nom" %><br />
  <%= form.text_field :name, :class => "important" %></p>

  <p><%= form.label :nickname, "Prenom" %><br />
  <%= form.text_field :nickname, :class => "important" %></p>
  <p><%= form.label :email, "Adresse mail" %><br />
  <%= form.text_field :email %></p>
  
  <%= form.hidden_field :account_id %>
</fieldset>

