<fieldset>
  <p><%= f.label :name, "Nom" %><br />
  <%= f.text_field :name, :class => "important" %></p>

  <p><%= f.label :nickname, "Prenom" %><br />
  <%= f.text_field :nickname, :class => "important" %></p>
  
  <%= f.hidden_field :account_id %>
</fieldset>

