<tr id="<%= dom_id member %>" class="autohide">
  <td><%= member.name %></td>
  <td><%= member.nickname %></td>
  <td><%= member.active? ? "<em>active</em>" : "" %></td>
  <td><%= member.last_play_date ? l(member.last_play_date.to_date) : "--" %></td>
  <td><div class="round"><%= member.players.size %></div></td>
  <td><%= member.games_count %></td>
  <td><div class="function"><%= link_to "", edit_member_path(member), :class => "ss_sprite ss_user_edit" %>
    |<%= link_to_remote "", {:url => member_path(member), :method => :delete}, :class => "ss_sprite ss_user_delete" %>
  </div></td>
</tr>